{% extends "layout.njk" %}
{% import "parts/section-products.njk" as section %}

{% block content %}
<section class="shop container">
    {{section.products('Últimos Produtos', 'container',  products)}}
    </section>
{% endblock content %}